<div id="iw-container">
	<div class="iw-title"><%= business.name %></div>

	<div class="iw-content">
		<div class="d-flex align-items-center">
			<% unless business.logo_file_name.nil? %>
				<div class="img-block d-flex justify-content-center align-items-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= image_tag business.logo.url(:thumb) unless business.logo_file_name.nil? %>
				</div>
			<% end %>
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<strong><%= business.business_type.title_for_subtypes unless business.business_type.nil? %>:</strong>
				<% business.business_subtypes.each do |subtype| %>
					<%= subtype.name %><br/>
				<% end %>
				<strong>Hours: </strong><%= business.hours unless business.hours.nil? %><br>
				<strong>Service Options: </strong><%= business.service_types.map{|v| v.name }.join(", ") %><br/>
				<% if business.happy_hour %>
					Happy Hour? <i class="fa fa-check"></i>
				<% end %>
			</div>
		</div>

		<div class="iw-subTitle">Info</div>
		<div>
			<strong>Address: </strong><%= business_address_city(business).titleize %><br>
			<strong>Phone: </strong><%= number_to_phone(business.phonenum) unless business.phonenum.nil? %><br>
			<strong>E-mail: </strong><%= mail_to(business.email, business.email, target: "_blank") unless business.email.nil? %><br>
			<strong>Website: </strong><%= link_to(truncate(business.website, :length => 140), business.website, target: "_blank") unless business.website.nil? %>
		</div>
	</div>
	<div class="iw-bottom-gradient"></div>
</div>