<tr>
	<td class="text-center " style="width:150px;">
		<% case table_row.status 
	     when "approved" %>
			<% if table_row.pause_listing %>
				<i class="fa fa-pause" data-toggle="tooltip"  title="Listing Paused" style="color: red;font-size: 1.5rem;"></i>
			<% else %>
				<i class="fa fa-circle" data-toggle="tooltip"  title="Approved" style="color: green;font-size: 1.5rem;"></i>
			<% end %>
	  <% when "active" %><i class="fa fa-clock-o" data-toggle="tooltip"  title="Waiting for approval" style="font-size: 1.5rem;"></i>
		<% else %><i class="fa fa-exclamation-triangle" data-toggle="tooltip"  title="Business creation needs completion" style="color: red;font-size: 1.5rem;"></i>
	  <% end %>
	</td>
	<td class="text-center d-none d-sm-table-cell"><%= image_tag table_row.logo.url(:thumb) unless table_row.logo_file_name.nil? %></td>	
	<td>
		<% if (can? :manage, Business) || (["approved","active"].include? table_row.status) %>
			 <%= link_to table_row.name, business_path(table_row)  %>
		<% else %>
			 <%= link_to table_row.name, create_business_wizard_path  %>
	  <% end %>
	</td>
	<td class="text-center d-none d-sm-table-cell">
		- <%= table_row.business_type.name unless table_row.business_type.nil? %> -<br/>
		<% table_row.business_subtypes.each do |subtype| %>
			<%= subtype.name %><br/>
		<% end %>
	</td>
	<td class="d-none d-lg-table-cell"><%= business_address_city(table_row) %></td>
	<td class="text-center d-none d-lg-table-cell"><%= table_row.updated_at.strftime('%m/%d/%y %I:%M%p') unless table_row.updated_at.nil? %>	</td>

	<td class="text-center">
		<div class="btn">
			<% if (can? :manage, Business) || (["approved","active"].include? table_row.status) %>
				<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_business_path(table_row),
					title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
			<% end %>
			<%= link_to icon('trash-o fa-lg'), 
				business_path(table_row),
				:method=> :delete, :action => 'destroy',
				data: {
					title: 'Delete '+table_row.name+'?', 
					confirm:'Delete this business from the system?'},
				title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
		</div>
	</td>
</tr>
