<% if @businesses %>
	<% unless @businesses.nil? %>
		<table id="businesss_listing" class="table table-condensed table-striped table-sm ">
			<thead  class="sorting">
				<%= form_for business_listing_businesses_path, :method => 'get' do |form| %>
					<tr class="d-flex">
						<th class="col-1 text-center">Logo</th>
						<th class="col">Name</th>
						<th class="col-1 text-center d-none d-lg-table-cell">
							<% if @business_subtypes %>
								<%= select_tag 'business_subtype', 
									options_from_collection_for_select(@business_subtypes, 'name', 'name', 
									:selected => params[:business_subtype]), 
									{:class => "form-filter-select btn btn-primary", 
									:prompt => "-#{@business_type_label.title_for_subtypes}-", 
									onchange: 'this.form.submit()'} %>
								<%= hidden_field_tag :type, params[:type] %>
							<% else %>
								<%= select_tag 'type', 
									options_from_collection_for_select(@business_types, 'name', 'name', 
									:selected => params[:type]), 
									{:class => "form-search-select btn btn-primary", 
									:prompt => "- Type -", 
									onchange: 'this.form.submit()'} %>
							<% end %>
						</th>
						<th class="col text-center">Hours</th>
						<th class="col-2 d-none d-sm-table-cell">Location</th>
						<th class="col-2 text-center d-none d-sm-table-cell">Phone</th>
						<th class="col-2 text-center d-none d-sm-table-cell">Website</th>
						<th class="col-1 text-center d-none d-lg-table-cell">
							<%= select_tag 'service_type', 
								options_from_collection_for_select(@service_types, 'name', 'name', 
								:selected => params[:service_type]), 
								{:class => "form-filter-select btn btn-primary", 
								:prompt => "-Service-", 
								onchange: 'this.form.submit()'} %>
						</th>
					</tr>

					<%= hidden_field_tag :zone, params[:zone] %>
				<% end %>
			</thead>
			<tbody>
				<% @businesses.each do |business| %>
					<tr class="d-flex">
						<td class="col-1 text-center">
							<%= image_tag business.logo.url(:thumb), :class => "max_100" unless business.logo_file_name.nil? %>
						</td>	
						<td class="col"><%= business.name %></td>	
						<td class="col-1 text-center d-none d-lg-table-cell">
							<%= business.business_subtypes.map{|v| v.name }.join(", ") unless business.business_subtypes.nil? %></td>
						<td class="col text-center"><%= business.hours %></td>
						<td class="col-2 d-none d-sm-table-cell"><%= business_address_city(business) %></td>
						<td class="col-2 text-center d-none d-sm-table-cell"><%= number_to_phone(business.phonenum) %></td>
						<td class="col-2 d-none d-sm-table-cell">
							<%= link_to shrink_url_field(business.website), business.website, target: :_blank unless business.website.nil? %>
						</td>
						<td class="col-1 text-center d-none d-lg-table-cell">
							<% business.service_types.each do |service_type| %>
								<%= service_type.name %><br/>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
<% end %>
