<div class="page-content">
	<div class="maps_heading">
		<div>  
		  <div id="map" style='width: 100%; height: 500px;'></div>  
		</div>  
		
		<script type="text/javascript">  
			var business_json = <%=raw @business_locations.to_json %>;
		    var handler;
		    var markers = [];

				handler = Gmaps.build('Google');
				handler.buildMap({ 
					provider: {},
					internal: {
						id: 'map'
					}
				}, 
				function(){
		    markers = handler.addMarkers(business_json);
		    _.each(business_json, function(elt, index){
		      _.extend(markers[index], elt);
		    });
				  handler.bounds.extendWith(markers) 
				  handler.fitMapToBounds()
					handler.getMap().setZoom(<%=params[:zoom]%>)
					handler.map.centerOn(<%= params[:center] %>)
				});
		
				Gmaps.selectMarker = function(id) {
				  $.each(Gmaps.store.markers, function() {
				    if (this.serviceObject.id == id) {
				      this.panTo();
				      this.serviceObject.setAnimation(google.maps.Animation.BOUNCE);
				    }
				    else this.serviceObject.setAnimation(null);
				  });
				};
		
		    function openMarkerInfo(id) {
					//console.log(markers);
					let business = markers.find(o => o.id === id);
					if (business != null) {
						//console.log(business);
						google.maps.event.trigger(business.getServiceObject(), 'click')
						scrollToElementId('map');
					} else {
						console.log('marker not found');
					};
		    };
		
				function scrollToElementId(id) { 
		      var elem = document.getElementById(id); 
		      elem.scrollIntoView(); 
		  };
		</script>
	</div>
	
	<div class="business_listing_block">
		<% if @businesses %>
			<% unless @businesses.nil? %>
				<% current_city = "" %>
				<table id="businesss_listing" class="table table-condensed table-striped table-sm ">
					<thead  class="sorting">
						<%= form_for business_listing_businesses_path, :method => 'get' do |form| %>
							<tr class="d-flex">
								<th class="col-1 col-sm-1 col-md-1 col-lg-1 text-center"></th>
								<th class="col-5 col-sm-4 col-md-4 col-lg-2">Name</th>
								<th class="col-sm-2 col-md-2 col-lg-2 text-center d-none d-md-table-cell">
									<% if params[:type].nil? || params[:type].empty? %>
										<%= select_tag 'type', 
											options_from_collection_for_select(@business_types, 'name', 'name', 
											:selected => params[:type]), 
											{:class => "form-search-select btn btn-primary", 
											:prompt => "- Type -", 
											onchange: 'this.form.submit()'} %>
									<% else %>
										<%= select_tag 'business_subtype', 
											options_from_collection_for_select(@business_subtypes, 'name', 'name', 
											:selected => params[:business_subtype]), 
											{:class => "form-filter-select btn btn-primary", 
											:prompt => "-#{@business_type_label.title_for_subtypes}-", 
											onchange: 'this.form.submit()'} %>
										<%= hidden_field_tag :type, params[:type] %>
									<% end %>
								</th>
								<th class="col-sm-3 col-md-3 col-lg-2 d-none d-sm-table-cell">Location</th>
								<th class="col-2 text-center d-none d-lg-table-cell">Phone</th>
								<th class="col-2 text-center d-none d-lg-table-cell">Website</th>
								<th class="col-6 col-sm-2 col-md-2 col-lg-1 text-center">
									<%= select_tag 'service_type', 
										options_from_collection_for_select(@service_types, 'name', 'name', 
										:selected => params[:service_type]), 
										{:class => "form-filter-select btn btn-primary", 
										:prompt => "-Service-", 
										onchange: 'this.form.submit()'} %>
								</th>
							</tr>

							<%= hidden_field_tag :zone, params[:zone] %>
						<% end %>
					</thead>
					<tbody>
						<% @businesses.each do |business| %>
							<tr>
								<% if business.city.titleize != current_city %>
									<% current_city = business.city.titleize %>
									<td><h1><%= current_city %></h1></td>
								<% end %>
							</tr>
							
							<tr class="d-flex">
								<td class="col-1 col-sm-1 col-md-1 col-lg-1 text-center">
									<%= image_tag business.logo.url(:thumb), :class => "max_100" unless business.logo_file_name.nil? %>
								</td>	
								<td class="col-5 col-sm-4 col-md-4 col-lg-2"><%= business.name %></td>	
								<td class="col-sm-2 col-md-2 col-lg-2 text-center d-none d-md-table-cell">
									<%= business.business_subtypes.map{|v| v.name }.join(", ") unless business.business_subtypes.nil? %></td>
								<td class="col-sm-3 col-md-3 col-lg-2 d-none d-sm-table-cell">
									<%= icon('edit fa-globe', :title => "Map it", :onclick => "openMarkerInfo(#{business.id})") unless business.lat.nil? || business.lng.nil? %>
									<%= business_address_city(business) %>
								</td>
								<td class="col-2 text-center d-none d-lg-table-cell"><%= number_to_phone(business.phonenum) %></td>
								<td class="col-2 d-none d-lg-table-cell business_listing_email">
									<%= link_to shrink_url_field(business.website), business.website, target: :_blank unless business.website.nil? %>
								</td>
								<td class="col-6 col-sm-2 col-md-2 col-lg-1 text-center">
									<% business.service_types.each do |service_type| %>
										<%= service_type.name %><br/>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		<% end %>
	</div>
</div>