<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Businesss</h2>
			<div class="float-right"><%= link_to "New Business", new_business_path, :class => 'btn btn-primary' %></div>
		</div>
	</div>

	<div class="page-content-body">
		<div class="">
			<% if @businesses %>
				<% unless @businesses.nil? %>
					<table id="businesss" class="table table-hover table-condensed table-striped table-sm">
						<thead class="sorting">
							<tr>
								<th class="text-center align-middle d-none d-sm-table-cell">Logo</th>
								<th class="align-middle"><%= sortable "name" %></th>
								<th class="text-center align-middle d-none d-sm-table-cell"><%= sortable "business_types.name", "Type" %></th>
								<th class="text-center align-middle d-none d-lg-table-cell">Hours</th>
								<th class="align-middle d-none d-lg-table-cell">Location</th>
								<th class="text-center align-middle d-none d-lg-table-cell">Phone</th>
								<th class="text-center align-middle d-none d-lg-table-cell">Website</th>
								<th class="text-center align-middle d-none d-lg-table-cell"><%= sortable "service_types.name", "Service" %></th>
								<th class="text-center align-middle ">Action</th>
							</tr>
						</thead>
						<tbody>
							<%= render :partial => 'table_row', :collection => @businesses %>
						</tbody>
					</table>
				<% end %>
			<% end %>
		</div>
	</div>
</div>