<% if @businesses %>
	<% unless @businesses.nil? %>
		<table id="businesss" class="table table-hover table-condensed table-striped table-sm">
			<thead class="">
				<tr>
					<th class="text-center d-none d-sm-table-cell">Logo</th>
					<th class="">Name</th>
					<th class="text-center d-none d-sm-table-cell">Type</th>
					<th class="text-center d-none d-lg-table-cell">Hours</th>
					<th class="d-none d-lg-table-cell">Location</th>
					<th class="text-center d-none d-lg-table-cell">Phone</th>
					<th class="text-center d-none d-lg-table-cell">Website</th>
					<th class="text-center d-none d-lg-table-cell">Service</th>
				</tr>
			</thead>
			<tbody>
				<% @businesses.each do |business| %>
					<tr>
						<td class="text-center d-none d-sm-table-cell"><%= image_tag business.logo.url(:thumb) %></td>	
						<td><%= business.name %></td>	
						<td class="text-center d-none d-sm-table-cell"><%= business.business_type.name %></td>
						<td class="text-center d-none d-sm-table-cell"><%= business.hours %></td>
						<td class="d-none d-sm-table-cell"><%= business.address1 %><%= business.address2 %>, <%= business.city %></td>
						<td class="text-center d-none d-sm-table-cell"><%= business.phonenum %></td>
						<td class="text-center d-none d-sm-table-cell"><%= business.website %></td>
						<td class="text-center d-none d-sm-table-cell"><%= business.service_type.name %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
<% end %>
