<div class="business_heading">
	<h1>
		<%= image_tag @business.logo.url(:medium) %>
		<%= @business.name %>
		<div class="float-right"><%= link_to "All Businesses", businesses_path(@business), :class => 'btn btn-primary' %></div>
		<div class="float-right"><%= link_to "Edit", edit_business_path(@business), :class => 'btn btn-primary' %></div>
	</h1>
</div>

<div class="business_block" >
	<hr/>
	<div class="form-group row">
		<label for="status" class="col-1"><h5>Status:</h5></label>
		<div class="col-3">
			<% case @business.status 
		     when "approved" %><i class="fa fa-circle" style="color: green;"></i>&nbsp;&nbsp;Approved
		  <% when "active" %>
				<i class="fa fa-clock-o"></i>&nbsp;&nbsp;Waiting for approval
				<% if can? :manage, Business %>
					&nbsp;&nbsp;
					<%= link_to "Approve", business_approve_business_path(@business),
						:method=> :put, :action => 'approve_business', :class => 'btn btn-success',
						data: {
							title: 'Approve '+@business.name+'?', 
							confirm:'Proceeding will approve this business listing and publish to the public', 
							commit: 'Approve', 'commit-class': 'btn-success'},
						title: 'Approve', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
				<% end %>
			<% else %><i class="fa fa-exclamation-triangle" style="color: red;"></i>&nbsp;&nbsp;Business creation needs completion
		  <% end %>
		</div>
		<div class="col-4">
			Last updated: <%= @business.updated_at.strftime('%m/%d/%Y %l:%M%P') %>
		</div> 
	</div>
	<hr/>

	<h5>Business Info:</h5>
	<div class="form-group row">
		<label for="name" class="offset-1 col-2">Name:</label>
		<div class="col-4">
			<h5><%= @business.name %></h5>
		</div>
		<label for="name" class="offset-1 col-1">Owner:</label>
		<div class="col-3">
			<%= @business.owner.nil? ? "NA" : @business.owner.email%>
		</div>
	</div>

	<div class="form-group row">
		<label for="business_type" class="offset-1 col-2">Type:</label>
		<div class="col-2">
			<%= @business.business_type.name unless @business.business_type.nil? %>
		</div>
		<label for="business_subtype" class="offset-1 col-3">
			<%= @business.business_type.name unless @business.business_type.nil? %> <%= @business.business_type.title_for_subtypes unless @business.business_type.nil? %>:
		</label>
		<div class="col-3">
			<%= @business.business_subtypes.map{|v| v.name }.join(", ") %>
		</div>
	</div>

	<div class="form-group row">
		<label for="service_type" class="offset-1 col-2">Service Options:</label>
		<div class="col-3">
			<%= @business.service_types.map{|v| v.name }.join(", ") %>
		</div>
	</div>

	<div class="form-group row">
		<label for="hours" class="offset-1 col-2">Business Hours:</label>
		<div class="col-6">
			<%= @business.hours %>
		</div>
	</div>
	<div class="form-group row">
		<label for="hours" class="offset-1 col-2">Happy Hour?</label>
		<div class="col-6">
			<% if @business.happy_hour %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
	</div>
	<div class="form-group row">
		<label for="hours" class="offset-1 col-3">Business Listing Zones:</label>
		<div class="col-6">
			<%= @business.zones.map{|v| v.name }.join(", ") %>
		</div>
	</div>
	<hr/>

	<div class="form-group row">
		<label for="address" class="offset-1 col-2">Address:</label>
		<div class="col-8">
			<%= business_address_city_state_zip(@business) %>
		</div>
	</div>

	<div class="form-group row">
		<label for="phonenum" class="offset-1 col-2">Phone Number:</label>
		<div class="col-8">
			<%= number_to_phone(@business.phonenum) %>
		</div>
	</div>

	<div class="form-group row">
		<label for="email" class="offset-1 col-2">Email:</label>
		<div class="col-8">
			<%= @business.email %>
		</div>
	</div>

	<div class="form-group row">
		<label for="website" class="offset-1 col-2	">Website:</label>
		<div class="col-8">
			<%= @business.website %>
		</div>
	</div>

	<div class="form-group row">
		<label for="notes" class="offset-1 col-2">Yelp URL:</label>
		<div class="col-8">
			<%= @business.yelp_url %>
		</div>
	</div>
	<hr/>

	<div class="form-group row">
		<label for="notes" class="offset-1 col-2">Notes:</label>
		<div class="col-8">
			<%= @business.notes %>
		</div>
	</div>
	<hr/>

	<h5>Business Awards: <small><em>(<%= link_to 'add new award', new_award_path(:current_business=>@business) %>)</em></small></h5>
	<div class="offset-1 mw-100">
		<table class="table table-hover table-sm w-auto">
			<tbody>
				<% @business.awards.each do |award| %>
					<tr>
						<td><%= award.year %></td>
						<td><%= award.place %></td>
						<td><%= award.name %></td>
						<td><%= award.description %></td>
						<td class="text-center">
							<%= link_to icon('edit fa-lg'),
								edit_award_path(award,:current_business=>@business),
								title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
						</td>
						<td class="text-center">
							<%= link_to icon('remove fa-lg'), 
								award_path(award), :class => "",
								:method=> :delete, :action => 'destroy',
								data: {
									title: 'Delete '+award.name+'?', 
									confirm:'Remove this award from the business?'},
								title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<hr/>
	
	<h5>Business Contacts: <small><em>(<%= link_to 'add new contact', new_contact_path(:current_business=>@business) %>)</em></small></h5>
	<div class="offset-1 mw-100">
		<table class="table table-hover table-sm w-auto">
			<tbody>
				<% @business.contacts.each do |contact| %>
					<tr>
						<td><%= contact.name %></td>
						<td><%= number_to_phone(contact.phonenum) %></td>
						<td><%= contact.email %></td>
						<td class="text-center">
							<%= link_to icon('edit fa-lg'),
								edit_contact_path(contact,:current_business=>@business),
								title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
						</td>
						<td class="text-center">
							<%= link_to icon('remove fa-lg'), 
								contact_path(contact), :class => "",
								:method=> :delete, :action => 'destroy',
								data: {
									title: 'Delete '+contact.name+'?', 
									confirm:'Remove this contact from the business?'},
								title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
