<div id="login-page">
	<div id="page-content" class="clearfix">
		<div class="inner-box clearfix">
			<h2>Edit Account</h2>
		  <div id="login-content" class="form-horizontal">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				  <%= render "devise/shared/error_messages", resource: resource %>

					<div class="form-group row">
						<label for="email" class="offset-1 col-3 col-form-label">Email:</label>
						<div class="col">
							<%= f.text_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
						</div>
					</div>

				  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				  <% end %>

					<div class="form-group row">
						<label for="password" class="offset-1 col-3 col-form-label">Password:</label>
						<div class="col">
							<%= f.password_field :password, class: "form-control", autocomplete: "new-password",
								 placeholder: "new password"%>
					    <% if @minimum_password_length %>
					      <!-- <em><%= @minimum_password_length %> characters minimum</em> -->
					    <% end %>
						</div>
					</div>
					<div class="form-group row">
						<label for="password_confirmation" class="offset-1 col-3 col-form-label">Password Confirmation:</label>
						<div class="col">
							<%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password",
								 placeholder: "new password" %>
						</div>
					</div>

					<div class="form-group row d-flex justify-content-center">
						<label for="submit" class="offset-1 col-3 col-form-label"></label>
						<div class="col">
							<%= f.submit "Update", :class => 'btn btn-primary'%>
							<%= link_to "Cancel", businesses_path(:type=>'retail'), :class=>"btn btn-primary" %>
						</div>
					</div>
				<% end %>
			</div>

			<hr/>

			<h3>Cancel Account</h3>
			<div class="form-group row">
				<label for="cancel_account" class="offset-1 col-3 col-form-label"></label>
				<div class="col">
					<%= link_to "Cancel my account", registration_path(resource_name), 
						data: {
							title: 'Cancel account?', 
							confirm: "Are you sure you want to cancel your account? This will remove your account from the system and can not be undone.",
							verify: 'DELETE', verify_text: 'Type "DELETE" to confirm'},
						method: :delete, :class => 'btn btn-danger' %>
				</div>
			</div>
		</div>
	</div>
</div>
