<div class="service_type_heading">
	<h1><%= @service_type.name %></h1>
</div>

<div class="service_type_block" >
	<%= form_for(@service_type) do |f| %>
		<div class="form-group row">
			<label for="name" class="offset-1 col-3 col-form-label">Service Type:</label>
			<%= render 'shared/field_error_messages', object: @service_type, field: :name %>
			<div class="col-3">
				<%= f.text_field :name, class: "form-control" %>
			</div>
		</div>

		<div class="form-group row d-flex justify-content-end">
			<%= f.submit "Add", :class => 'btn btn-primary'%>
			<%= f.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
		</div>
	<% end %>
</div>
