<div class="page-content">
	<div class="user_heading">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Users</h2>
		</div>
	</div>

	<div class="user_block">
		<div class="">
			<% if @users %>
				<% unless @users.nil? %>
					<table id="services_types" class="table table-hover table-condensed table-striped table-sm">
						<thead class="">
							<tr>
								<th class="">Email</th>
								<th class="text-center align-middle">Role</th>
								<th class="text-center align-middle">Businesses</th>
								<th class="text-center align-middle">Created At</th>
								<th class="text-center align-middle">Last Signed In</th>
								<th class="text-center align-middle">Login Count</th>
								<th class="text-center align-middle">Action</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
								<tr>
									<td><%= link_to user.email, user_path(user) %></td>
									<td class="text-center align-middle"><%= get_user_role(user) %></td>	
									<td class="text-center align-middle">
										<%= link_to user.businesses.count, businesses_path(:owner => user.id) %>
									</td>	
									<td class="text-center align-middle"><%= user.created_at.strftime('%m/%d/%y %I:%M%p') unless user.created_at.nil? %></td>	
									<td class="text-center align-middle"><%= user.last_sign_in_at.strftime('%m/%d/%y %I:%M%p') unless user.last_sign_in_at.nil? %></td>	
									<td class="text-center align-middle"><%= user.sign_in_count %></td>	

									<td class="text-center">
										<div class="btn">
											<%= link_to '<i class="fa fa-edit"></i>'.html_safe, user_path(user),
												title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
											<%= link_to icon('trash-o fa-lg'), 
												user_path(user),
												:method=> :delete, :action => 'destroy',
												data: {
													title: 'Delete account '+user.email+'?', 
													confirm:'The user account '+user.email+' will be deleted but all associated businesses will remain in the system.'},
												title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
										</div>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				<% end %>
			<% end %>
		</div>
	</div>
</div>