<div id="header_bar" class="bg-dark">
	<div class="container-fluid">
		<div class="row align-items-end">
			<div class="col d-flex align-items-end">
				<div id="branding" class="float-left">
					<h1>
						<%= link_to root_url do %>
							Bulletin <span>- Business Listings</span>
						<% end %>
					</h1>
				</div>
				<div class="">
					<ul class="nav menu-items-bar">
						<li class="nav-item">
		 				   <%= link_to "Home", root_path, :class=>"nav-link menu-item-home" %>
						</li>
						<li class="nav-item">
							<%= link_to "Businesses", businesses_path, :class=>"nav-link menu-item-images" %>
						</li>
						<li class="nav-item">
							<%= link_to "Restaurants", businesses_path, :class=>"nav-link menu-item-pages" %>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-2">
				<div class="float-right">
					<% if current_user.nil? %>
						<%= link_to new_user_session_path, class: 'login-button' do %>Login<% end %>
					<% else %>
						<%= current_user.email %> (<%= link_to destroy_user_session_path, method: :delete do %>Logout<% end %>)
					<% end %>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-2">
				<div class="d-flex align-items-center">
					<div class="btn-group-vertical">

							<div class="dropleft btn-block text-center menu-items-icon-admin">
								<button type="button" class="btn btn-secondary btn-menu" data-toggle="dropdown">
									<%= icon('bars fa-lg') %>
								</button>
								<div class="dropdown-menu">
									<%= link_to "Businesses", businesses_path, :class=>"dropdown-item" %>
									<%= link_to "Restaurants", businesses_path, :class=>"dropdown-item" %>
									<div class="dropdown-divider"></div>
									<%= link_to "Business Types", business_types_path, :class=>"dropdown-item" %>
									<%= link_to "Service Types", service_types_path, :class=>"dropdown-item" %>
									<div class="dropdown-divider"></div>
									<%= link_to "Logout", destroy_user_session_path, :class=>"dropdown-item" %>
								</div>
							</div>

						<div class="dropleft btn-block text-center menu-items-icon-all">
							<button type="button" class="btn btn-secondary btn-menu" data-toggle="dropdown">
								<%= icon('bars fa-lg') %>
							</button>
							<div class="dropdown-menu">
								<%= link_to "Home", root_path, :class=>"dropdown-item" %>
								<%= link_to "Images", businesses_path, :class=>"dropdown-item" %>
								<%= link_to "Pages", businesses_path, :class=>"dropdown-item" %>

									<div class="dropdown-divider"></div>
									<%= link_to "Businesses", businesses_path, :class=>"dropdown-item" %>
									<%= link_to "Restaurants", businesses_path, :class=>"dropdown-item" %>
									<div class="dropdown-divider"></div>
									<%= link_to "Business Types", business_types_path, :class=>"dropdown-item" %>
									<%= link_to "Service Types", service_types_path, :class=>"dropdown-item" %>
									<div class="dropdown-divider"></div>
									<%= link_to "Logout", destroy_user_session_path, :class=>"dropdown-item" %>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
