<div class="home-page-head">
	<%= image_tag @default_settings.homepage_banner_image.url(:medium) unless @default_settings.homepage_banner_image_file_name.nil? %>

	<div class="homepage-nav">
		<div class="btn-group-vertical float-right">
			<div class="dropleft btn-block text-center menu-items-icon-admin">
				<button type="button" class="btn btn-secondary btn-menu" data-toggle="dropdown">
					<%= icon('bars fa-lg') %>
				</button>
				<div class="dropdown-menu">
					<% if current_user.nil? %>
						<%= link_to "Login", new_user_session_path, :class=>"dropdown-item" %>
						<%= link_to 'Register New Business', new_user_registration_path, :class=>"dropdown-item" %>
					<% else %>
						<%= link_to current_user.email, edit_user_registration_path, :class=>"dropdown-item" %>
						<div class="dropdown-divider"></div>
						<%= link_to "Manage My Business", businesses_path, :class=>"dropdown-item" %>
						<div class="dropdown-divider"></div>
						<%= link_to "Logout", destroy_user_session_path, :class=>"dropdown-item" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="homepage-wrap">
		<h1>Welcome to The Bulletin's Business Listings</h1>
		<div class="homepage-wrap-text">
			<%= simple_format(@default_settings.home_welcome_text) %>
		</div>
	</div>
</div>

<div class="home-page-info">
	<h2 class="text-left">Full list of Central Oregon businesses</h2>
	<div class="d-flex align-items-center justify-content-start">
		<div class="text-left col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= simple_format(@default_settings.general_instructions) %>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= image_tag(@default_settings.homepage_general_instruction_image.url(:medium), class: "img-fluid") unless @default_settings.homepage_general_instruction_image_file_name.nil? %>
		</div>
	</div>

	<hr/>
	<h2 class="text-left">Register your business</h2>
	<div class="d-flex align-items-center justify-content-start">
		<div class="text-left col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<%= simple_format(@default_settings.registration_text) %>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<%= image_tag(@default_settings.homepage_registration_image.url(:medium), class: "img-fluid") unless @default_settings.homepage_registration_image_file_name.nil? %>
		</div>
	</div>
</div>
