<div class="award_heading">
	<div class="container search_container">
		<div class="row justify-content-between">
			<h1>New award for <%= @business.name %></h1>
		</div>
	</div>

</div>

<div class="award_block" >
	<%= form_for @award do |form| %>
		<%= form.hidden_field :business_id, :value => @business.id %>

		<%= render :partial => 'form', :object => form %>
	
		<div class="form-group row d-flex justify-content-end">
			<%= form.submit "Add", :class => 'btn btn-primary'%>
			<%= form.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
		</div>
	
	<% end %>
</div>
