<div class="page-content">
	<div class="page-content-header">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Business Types</h2>
			<div class="float-right"><%= link_to "New Business Type", new_business_type_path %></div>
		</div>
	</div>

	<div class="page-content-body">
		<div class="">
			<% if @business_types %>
				<% unless @business_types.nil? %>
					<table id="businesss_types" class="table table-condensed table-sm">
						<thead class="">
							<tr>
								<th class="">Type</th>
								<th class="">Subtypes</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<% @business_types.each do |business_type| %>
								<tr class="table-info">
									<td><%= business_type.name %></td>	
									<td>
										<br/>
										<small><%= link_to "Add #{business_type.name} #{business_type.title_for_subtypes.singularize}",
											new_business_subtype_path(:current_business_type=>business_type) %></small>
									</td>
									<td class="text-center">
										<p class="btn btn-outline-info">
											<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_business_type_path(business_type),
												title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
										</p>
										<p class="btn btn-outline-info">
											<%= link_to icon('trash-o fa-lg'), 
												business_type_path(business_type),
												:method=> :delete, :action => 'destroy',
												data: {confirm:'Delete business type?'},
												title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
										</p>
									</td>
								</tr>
								<% business_type.business_subtypes.order("name").each do |subtype| %>
									<tr>
										<td></td>
										<td><%= subtype.name %></td>	
										<td class="text-center">
											<p class="btn btn-outline-info">
												<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_business_subtype_path(subtype),
													title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
											</p>
											<p class="btn btn-outline-info">
												<%= link_to icon('trash-o fa-lg'), 
													business_subtype_path(subtype),
													:method=> :delete, :action => 'destroy',
													data: {confirm:'Delete business type?'},
													title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
											</p>
										</td>
									</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
				<% end %>
			<% end %>
		</div>
	</div>
</div>