<div class="business_type_heading">
	<div class="container search_container">
		<div class="row justify-content-between">
			<h1>New Business Type</h1>
		</div>
	</div>
</div>


<div class="business_type_block" >
	<%= form_for(@business_type) do |f| %>
		<div class="form-group row">
			<label for="name" class="offset-1 col-3 col-form-label">Business Type:</label>
			<%= render 'shared/field_error_messages', object: @business_type, field: :name %>
			<div class="col-3">
				<%= f.text_field :name, class: "form-control", :placeholder => 'Retail, Restaurants,...' %>
			</div>
		</div>
		<div class="form-group row">
			<label for="name" class="offset-1 col-3 col-form-label">Title for SubTypes:</label>
			<%= render 'shared/field_error_messages', object: @business_type, field: :title_for_subtypes %>
			<div class="col-3">
				<%= f.text_field :title_for_subtypes, class: "form-control", :placeholder => 'Cuisine, Business Types,...' %>
			</div>
		</div>

		<div class="form-group row d-flex justify-content-end">
			<%= f.submit "Update", :class => 'btn btn-primary'%>
			<%= f.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
		</div>
	<% end %>
</div>
