<div class="zone_heading">
	<h1><%= @zone.name %></h1>
</div>

<div class="zone_block" >
	<%= form_for(@zone) do |f| %>
		<div class="form-group row">
			<label for="name" class="offset-1 col-3 col-form-label">Zone:</label>
			<div class="col-3">
				<%= f.text_field :name, class: "form-control", :required => "true" %>
			</div>
		</div>

		<div class="form-group row d-flex justify-content-end">
			<%= f.submit "Update", :class => 'btn btn-primary'%>
			<%= f.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
		</div>
	<% end %>
</div>
