<div class="page-content">
	<div class="zone_heading">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Zones</h2>
			<div class="float-right"><%= link_to "New Zone", new_zone_path %></div>
		</div>
	</div>

	<div class="zone_block">
		<div class="">
			<% if @zones %>
				<% unless @zones.nil? %>
					<table id="zones" class="table table-hover table-sm">
						<thead class="">
							<tr>
								<th class="">Zone</th>
								<th class="">Regions</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<% @zones.each do |zone| %>
								<tr class="table-info">
									<td class="align-middle"><%= zone.name %></td>	
									<td class="align-middle">
										<small><%= link_to "Add Region",
											new_region_path(:current_zone=>zone), :class => "" %></small>
									</td>
									<td class="text-center align-middle">
										<div class="btn">
											<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_zone_path(zone),
												title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
											<%= link_to icon('trash-o fa-lg'), 
												zone_path(zone),
												:method=> :delete, :action => 'destroy',
												data: {
													title: 'Delete zone '+zone.name+'?', 
													confirm:'Delete this zone from the system?'},
												title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
										</div>
									</td>
								</tr>
								<% zone.regions.order("name").each do |region| %>
									<tr>
										<td></td>
										<td class="align-middle">
											<%= region.name %>
										</td>	
										<td class="text-center">
											<div class="btn">
												<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_region_path(region),
													title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
												<%= link_to icon('trash-o fa-lg'), 
													region_path(region),
													:method=> :delete, :action => 'destroy',
													data: {
														title: 'Delete region '+region.name+' from zone '+zone.name+'?', 
														confirm:'Delete this region from the system?'},
													title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
											</div>
										</td>
									</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
				<% end %>
			<% end %>
		</div>
	</div>
</div>