<div class="default_settings_heading">
	<h2>New Template</h2>
</div>

<div class="default_settings_block" >
	<%= form_for @default_settings_email do |f| %>
		<div class="form-group row">
			<label for="name" class="col-2">Template Name:</label>
			<div class="col-5">
				<%= f.select :name, options_for_select(@email_templates), {}, {:class => "form-control"} %>
			</div>
		</div>
		<div class="form-group row">
			<label for="description" class="col-2">Description:</label>
			<div class="col-5">
				<%= f.text_field :description, class: "form-control" %>
			</div>
		</div>
		<hr/>

		<div class="form-group row">
			<label for="email_from_address" class="col-2">From:</label>
			<div class="col-5">
				<%= f.text_field :email_from_address, class: "form-control" %>
			</div>
		</div>
		<div class="form-group row">
			<label for="email_subject" class="col-2">Subject:</label>
			<div class="col-5">
				<%= f.text_field :email_subject, class: "form-control" %>
			</div>
		</div>
		<div class="form-group row">
			<label for="email_pretext" class="col-2">Pre-Text:</label>
			<div class="col-5">
				<%= f.text_area :email_pretext, class: "form-control", :rows=>5 %>
			</div>
		</div>
		<div class="form-group row">
			<label for="email_posttext" class="col-2">Post-Text:</label>
			<div class="col-5">
				<%= f.text_area :email_posttext, class: "form-control", :rows=>5 %>
			</div>
		</div>
		<hr/>

		Info to include in body of email:
		<div class="form-check">
		  <label class="form-check-label">
		   <%= f.check_box :show_contact_info %> Show Contact Info
		  </label>
		</div>
		<div class="form-check">
		  <label class="form-check-label">
		    <%= f.check_box :show_business_info %> Show Business Info
		  </label>
		</div>
		<hr/>
	
		<div class="form-group row d-flex justify-content-end">
			<%= f.submit "Create", :class => 'btn btn-primary'%>
			<%= f.submit "Cancel", :name => 'cancel_button', :class => 'btn btn-primary'%>
		</div>
	<% end %>
</div>
